In [2]:
li1=['ashok','arun','varun','chethan','ameya','naveen']

In [3]:
li1.append('vinay')

In [4]:
li1

['ashok', 'arun', 'varun', 'chethan', 'ameya', 'naveen', 'vinay']

In [5]:
li2=li1.copy()

In [6]:
li2

['ashok', 'arun', 'varun', 'chethan', 'ameya', 'naveen', 'vinay']

In [7]:
li1.clear()

In [8]:
li1

[]

In [9]:
li2.append('ashok')

In [10]:
li2.count('ashok')

2

In [11]:
li2.extend(['ashok','arun','stan'])

In [12]:
li2

['ashok',
 'arun',
 'varun',
 'chethan',
 'ameya',
 'naveen',
 'vinay',
 'ashok',
 'ashok',
 'arun',
 'stan']

In [13]:
li2.index('ashok',8,10)

8

In [14]:
li2.insert(3,'sharon')

In [17]:
print(li2)

['ashok', 'arun', 'varun', 'sharon', 'chethan', 'ameya', 'naveen', 'vinay', 'ashok', 'ashok', 'arun', 'stan']

In [18]:
li2.pop()

'stan'

In [19]:
print(li2)

['ashok', 'arun', 'varun', 'sharon', 'chethan', 'ameya', 'naveen', 'vinay', 'ashok', 'ashok', 'arun']

In [20]:
li2.pop(5)

'ameya'

In [21]:
li2.remove('arun')

In [22]:
print(li2)

['ashok', 'varun', 'sharon', 'chethan', 'naveen', 'vinay', 'ashok', 'ashok', 'arun']

In [23]:
li2.reverse()

In [24]:
li2

['arun',
 'ashok',
 'ashok',
 'vinay',
 'naveen',
 'chethan',
 'sharon',
 'varun',
 'ashok']

In [25]:
li2.sort()

In [26]:
li2

['arun',
 'ashok',
 'ashok',
 'ashok',
 'chethan',
 'naveen',
 'sharon',
 'varun',
 'vinay']

In [27]:
print(li2[1])

ashok

In [28]:
li2[1]='ameya'

In [29]:
li2

['arun',
 'ameya',
 'ashok',
 'ashok',
 'chethan',
 'naveen',
 'sharon',
 'varun',
 'vinay']

In [30]:
print(li2*4)

['arun', 'ameya', 'ashok', 'ashok', 'chethan', 'naveen', 'sharon', 'varun', 'vinay', 'arun', 'ameya', 'ashok', 'ashok', 'chethan', 'naveen', 'sharon', 'varun', 'vinay', 'arun', 'ameya', 'ashok', 'ashok', 'chethan', 'naveen', 'sharon', 'varun', 'vinay', 'arun', 'ameya', 'ashok', 'ashok', 'chethan', 'naveen', 'sharon', 'varun', 'vinay']

In [31]:
li3=[5,4,6,7,9,5,2]

In [32]:
print(li2+li3)

['arun', 'ameya', 'ashok', 'ashok', 'chethan', 'naveen', 'sharon', 'varun', 'vinay', 5, 4, 6, 7, 9, 5, 2]

In [33]:
li4=[6,4,2,5,8,6,7]

check whether 2 lists are equal or not

In [34]:
li3==li4

False

length of the list

In [35]:
len(li3)==len(li4)

True

In [36]:
li3

[5, 4, 6, 7, 9, 5, 2]

iterating through list

In [37]:
for i in li3:
    print(i,end=' ')

5 4 6 7 9 5 2

In [38]:
for i in li2:
    print(i,end=' ')

arun ameya ashok ashok chethan naveen sharon varun vinay

checking in list

In [39]:
if 'sharon' in li2:
    print('sharon exists')
else:
    print('dosent exists')

sharon exists

delletign the list completely

In [40]:
del li4

In [41]:
li4

NameError: name 'li4' is not defined

list constructor

In [42]:
li=list(('ksjabd','skjfb','skfhskjfn'))

In [43]:
li

['ksjabd', 'skjfb', 'skfhskjfn']

#  list comprehension

In [44]:
list1=[5,6,7,2,1,5,6,7,9,2,1]
list2=[]
for i in list1:
    if i>5:
        list2.append(i)
print(list2)

[6, 7, 6, 7, 9]

In [45]:
list3=[i*i for i in list1 if i>5]
print(list3)

[36, 49, 36, 49, 81]

In [46]:
newli=[i for i in range(10)]
print(newli)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
squares=[i*i for i in range(10) if i%2==0]
print(squares)

[0, 4, 16, 36, 64]

In [48]:
multiply=[i*3 for i in range(10)]
print(multiply)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

extract only first elemnt of a word in list

In [49]:
new=['jbbkj','skjf','aifaj','oiejkfn']
new1=[word[0] for word in new]
print(new1)

['j', 's', 'a', 'o']

In [50]:
new2=[word[1:3] for word in new]
print(new2)

['bb', 'kj', 'if', 'ie']

lowe rto upper and vise versa

In [51]:
new3=[i.upper() for i in new]
print(new3)

['JBBKJ', 'SKJF', 'AIFAJ', 'OIEJKFN']

In [52]:
new4=[i.lower() for i in new3]
print(new4)

['jbbkj', 'skjf', 'aifaj', 'oiejkfn']

In [59]:
import functools
newstring='hello world 12 new 65 ashok'
new6=[int(i) for i in newstring if i.isdigit()]
print(new6)
print(functools.reduce(lambda x,y:x+y,new6))

[1, 2, 6, 5]
14

In [60]:
newstring='hello world 12 new 65 ashok'
new6=[i for i in newstring if i.isalpha()]
print(new6)
print(' '.join(new6))

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd', 'n', 'e', 'w', 'a', 's', 'h', 'o', 'k']
h e l l o w o r l d n e w a s h o k

functions in list

In [61]:
def double(x):
    return x*2

In [62]:
print(double(5))

10

In [65]:
kj=[double(i) for i in range(10)]
print(kj)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [66]:
hj=[double(i) for i in range(20) if i%2!=0]
print(hj)
for i in hj:
    print(i,end=' ')

[2, 6, 10, 14, 18, 22, 26, 30, 34, 38]
2 6 10 14 18 22 26 30 34 38

multiple for loops in list comprehension

In [67]:
kj=[(x,y)for x in range(10) for y in range(10) if x*2==y*2]
print(kj)

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7), (8, 8), (9, 9)]

In [68]:
se=[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2+y**2==z**2]
print(se)
for i in se:
    print(i,end=' ')

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (20, 21, 29)]
(3, 4, 5) (5, 12, 13) (6, 8, 10) (7, 24, 25) (8, 15, 17) (9, 12, 15) (10, 24, 26) (12, 16, 20) (15, 20, 25) (20, 21, 29)

In [69]:
colours = [ "red", "green", "yellow", "blue" ]
things = [ "house", "car", "tree" ]
gh=[(x,y) for x in things for y in colours]
print(gh)

[('house', 'red'), ('house', 'green'), ('house', 'yellow'), ('house', 'blue'), ('car', 'red'), ('car', 'green'), ('car', 'yellow'), ('car', 'blue'), ('tree', 'red'), ('tree', 'green'), ('tree', 'yellow'), ('tree', 'blue')]

In [70]:
Celsius = [39.2, 36.5, 37.3, 37.8]
fahrenheit=[float((9/5)*i+32) for i in Celsius]
print(fahrenheit)

[102.56, 97.7, 99.14, 100.03999999999999]

Function to append all zeros at the end

In [71]:
kj=[5,3,0,3,5,2,0,6,2,1,0,6,2,5,0]
jh=[i for i in kj if i!=0]+[i for i in kj if i==0]
print(jh)

[5, 3, 3, 5, 2, 6, 2, 1, 6, 2, 5, 0, 0, 0, 0]

creating multiplication table

In [72]:
a=5
ahs=[[a,b,a*b] for b in range(1,11)]
ahs

[[5, 1, 5],
 [5, 2, 10],
 [5, 3, 15],
 [5, 4, 20],
 [5, 5, 25],
 [5, 6, 30],
 [5, 7, 35],
 [5, 8, 40],
 [5, 9, 45],
 [5, 10, 50]]

In [75]:
sd=[i*2 for i in range(1,21) if i%2==0]
sd

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [76]:
lst=list(filter(lambda i:i%5==0,sd))
print(lst)

[20, 40]

In [77]:
lst = list(filter(lambda x : x % 5 == 0,  
      [x ** 2 for x in range(1, 11) if x % 2 == 1]) )
print(lst)

[25]

to find max number

In [78]:
hg=[i for i in range(50)]
print(hg)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [79]:
import functools
new=functools.reduce(lambda a,b:a if (a>b) else b,hg)
print(new)

49

In [80]:
fcg=[56,23,1,0,59,54,23,65,7,98,65,132,65]
new9=[i for i in fcg]
min1=functools.reduce(lambda a,b: a if (a<b) else b,new9)
min1

0

In [82]:
max1=functools.reduce(lambda a,b: a if (a>b) else b,fcg)
max1

132

In [83]:
x=[x**2 for x in range(20)]
print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

prime or not

In [86]:
nonprime=[j for i in range(2,10) for j in range(i*2,100,i)]
prime=[x for x in range(2,100) if x not in nonprime]
#print(nonprime)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [87]:
from math import sqrt
n=100
sqrt_n=int(sqrt(n))
sqrt_n
noprime=[j for i in range(2,sqrt_n) for j in range(i*2,n,i)]
print(noprime)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]

here we have lot of duplicate values, solution is to use set comprehension {}

In [88]:
from math import sqrt
n=100
sqrt_n=int(sqrt(n))
sqrt_n
noprime={j for i in range(2,sqrt_n) for j in range(i*2,n,i)}
print('non prime numbers are :',noprime)
print('-----------------------')
prime={i for i in range(2,n) if i not in noprime}
print('prime numbers are :',prime)

non prime numbers are : {4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99}
-----------------------
prime numbers are : {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97}

In [89]:
from math import sqrt
def primes(n):
    if n == 0:
        return []
    elif n == 1:
        return []
    else:
        p = primes(int(sqrt(n)))
        no_p = {j for i in p for j in range(i*2, n+1, i)}
        p = {x for x in range(2, n + 1) if x not in no_p}
    return p

x=primes(50)
print(x)

{2, 3, 5, 37, 7, 41, 11, 43, 13, 47, 17, 19, 23, 29, 31}

In [90]:
import re
regex = r"[A-z]{1,2}[0-9R][0-9A-Z]? [0-9][ABD-HJLNP-UW-Z]{2}"
address = "BBC News Centre, London, W12 7RJ"
compiled_re = re.compile(regex)
res = compiled_re.search(address)
print(res)

<re.Match object; span=(25, 32), match='W12 7RJ'>

In [93]:
not_prime1={j for i in range(2,10) for j in range(2*i,100,i)}
print(not_prime1)

{4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99}

In [114]:
a=set()
b=set()
for i in range(2,10):
    for j in range(i*2,100,i):
        a.add(int(j))
for k in range(2,100):
    if k not in a:
        b.add(int(k))
print('Prime numbers are :\n',a)
print(b)

Prime numbers are :
 {4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99}
{2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97}

In [117]:
l1=[2,6,4,9,5]
print(''.join(map(str,l1)))

26495

In [120]:
Lst  = [ 10,20,30,40]
print(Lst[::-1])

[40, 30, 20, 10]

In [124]:
a=[i for i in range(1500,2700) if i%7==0 and i%5==0]
print(a)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [149]:
even=[i*i for i in range(334,667) if i%2==0]
odd=[i*i for i in range(334,667) if i%2!=0]  
print('sum of square of even numbers are :\n',functools.reduce(lambda x,y:x+y,even))
print('sum of square of odd numbers are :\n',functools.reduce(lambda x,y:x+y,odd))

sum of square of even numbers are :
 43302432
sum of square of odd numbers are :
 43024710

In [173]:
def sum(num,end):
    count=0
    if num<0:
        print('enter positive number')
        return  ''
    else:
        for i in range(num,end):
            count=count+i
        return count
print(sum(0,31))

465

In [175]:
a=[j for i in range(2,10) for j in range(2*i,n,i)]
print(a)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]

In [ ]:
n=int(input('enter a number'))
if n>1:
    for i in range(2,n):
        if (n%i)==0:
            print(n,'is not prime number')
            break
        else:
            print(n,'is a prime number')
else:
    print(n,'is not prime number')