Basics of python, 4 inbuilt datastructures

In [2]:
#for single line comment
#select the lines control+/ - multi line comment

In [3]:
#single and double quotes in stmt
print("I'm fine")

I'm fine

In [4]:
print('I am "python Developer"')

I am "python Developer"

In [5]:
print("""great learning,"welcomes to 'python coding'""")

great learning,"welcomes to 'python coding'

In [6]:
a,b,c=1,2,3
out=a+b+c
out

6

In [7]:
#assign same vals to multiple variables
a1=a2=a3=4
a1
a2
a3

4

In [8]:
#concatenation of string
first_nm="hello"
last_nm="world"
name=first_nm+last_nm
print(name)
type(last_nm)

helloworld

str

In [9]:
#concatenation of 2different datatypes
age=20
first_nm+age

TypeError: can only concatenate str (not "int") to str

Type Casting

In [10]:
#int to float
a=1
type(a)
float(a)

1.0

In [11]:
#float to int, int to str and str to int

Arithmetic Operations

In [12]:
#simple addition
length=12
width=2
tot=length+width
print("Additional output is %d" %tot)

Additional output is 14

In [13]:
print("%d : Additional output" %tot)#position of %d determines the place of display

14 : Additional output

In [15]:
nm="ayush"
age=1.4
print("%s is %.2f years old" %(nm,age))

ayush is 1.40 years old

In [24]:
cmp="%s is %.2f years old"
cmp%("Kranti",1.4)

'Kranti is 1.40 years old'

In [14]:
#subtraction, multiplication using length and width

In [16]:
#simple division
l,b=43,5
tot=l/b #// to retrieve int val alone, % to retrieve the remainder
print(tot)
type(tot)

8.6

float

In [17]:
#power
tot=length**width
print("powered output is :",tot)

powered output is : 144

In [18]:
#incremental 
a=10
a+=2 #a=a+2
print(a)

12

Arithmetic operations in string

In [20]:
#addition
fnm="hello"
lnm=" world"
nm=fnm+lnm
nm

'hello world'

In [21]:
#multiplication
nm="hello "
nm*3

'hello hello hello '

In [22]:
#subtraction and division

In [1]:
nm="python programming"

In [4]:
print(nm[0:6])

python

In [ ]:
#USECASE - BMI of a person = weight/(square of height)

4 inbuilt data structures of python

Tuple, Set, List and Dictionary

Tuples - denoted by ()

In [43]:
name=("hello","world")
print(type(name))
print(len(name))

<class 'tuple'>
2

In [32]:
print("first name : {}".format(name[0]))
print("first name : ",name[0])
print("first name : %s" %(name[0]))
print(name[1])

first name : hello
first name :  hello
first name : hello
world

In [33]:
#duplication
age=(40,35,8,5,40)
age

(40, 35, 8, 5, 40)

In [34]:
#sorting - sorted , sort
s=sorted(age) #original order will never be changed
print(s)

[5, 8, 35, 40, 40]

In [35]:
#chk age 
#descending order

In [36]:
#reassigning
lt=(1,2,4)
print(lt)
lt[0]="hai"

(1, 2, 4)

TypeError: 'tuple' object does not support item assignment

In [37]:
#appending - append, add, insert
lt.append('hai')

AttributeError: 'tuple' object has no attribute 'append'

In [38]:
lt.add('hai')

AttributeError: 'tuple' object has no attribute 'add'

In [39]:
lt.insert(0,'hai')

AttributeError: 'tuple' object has no attribute 'insert'

In [40]:
#concatenation
lt1=(56,89,32,4)
res=lt+lt1
print(res)

(1, 2, 4, 56, 89, 32, 4)

In [5]:
#dataslicing
age=(56,88,97,13,26)
print(age)

(56, 88, 97, 13, 26)

In [1]:
'''retrieve 88
retrieve all d ele
retrieve all d ele using len
remove the last ele
retrieve 97,13 and 26
reverse age'''

'retrieve 88\nretrieve all d ele\nretrieve all d ele using len\nremove the last ele\nretrieve 97,13 and 26\nreverse age'

In [3]:
#removing single ele- remove, pop, del, discard
t=[56,88,90,13,58]
t.remove(90) #value
t

[56, 88, 13, 58]

In [4]:
t.pop(2)#index that is to be removed

13

In [5]:
del t[2]#index

In [6]:
t.discard(90)#value

AttributeError: 'list' object has no attribute 'discard'

In [ ]:
#deleting an entire tuple
del t

In [48]:
print(t)

(56, 88, 90, 13, 58)

In [49]:
#mixture of datatype
t=("hai","hello",567,26,1,'world') #cant sort mixture of str and nos dtypes
sorted(t)

TypeError: '<' not supported between instances of 'int' and 'str'

In [50]:
t=(25,56,7.8,23,90)
sorted(t)

[7.8, 23, 25, 56, 90]

List is denoted []

In [51]:
f=['apple','banana','orange','grapes','kiwi']
type(f)

list

In [54]:
lst=[2,3,4,5,6,64]
#existence
55 in lst

False

In [55]:
lst.index(4)

2

In [56]:
#max,min,sum,len

Set denoted by {}

In [57]:
s={'a','b','c','d','a','b'}
print(s)

{'b', 'c', 'a', 'd'}

In [58]:
#extending existing set
t={1,4,6,10,11,12,3}
print(s)
print(t)

{'b', 'c', 'a', 'd'}
{1, 3, 4, 6, 10, 11, 12}

In [59]:
s.update({98})#appending single ele to an existing set
print(s)

{'c', 98, 'a', 'd', 'b'}

In [60]:
#appending entire set to another existing set
s.update(t)
print(s)

{1, 98, 3, 4, 'a', 6, 10, 11, 12, 'c', 'd', 'b'}

In [61]:
t=(1,2,1,2,3,6)
print(t)
type(t)

(1, 2, 1, 2, 3, 6)

tuple

In [62]:
#eliminate duplicates in tuple

Dictionary denoted by {}

In [8]:
#key value pair
students={'Eddy':26,'Maria':23,'Jack':28,'Eddy':18,'Lilly':5}#chks duplications within key ele

In [64]:
#key eld
students.keys()

dict_keys(['Eddy', 'Maria', 'Jack', 'Lilly'])

In [65]:
#value ele
students.values()

dict_values([18, 23, 28, 5])

In [9]:
#retrieving value ele
students['Jack']

28