Conditional Statements,Loops,Combination of loops,Datetime,File operations,Lambda,filter

In [1]:
#if - to compare the values based on given condition
#if with no else
if (3>5):
    print("3 is greater than 5")

In [2]:
#if with else
if (3>5):
    print("3 is greater than 5")
else:
    print("3 is not greater than 5")

3 is not greater than 5

In [6]:
#if elif stmts, compare 3 variables find greatest among them
a,b,c = 15,21,60
if (a>b) & (a>c):
    print("A is greatest")
elif (b>a) &(b>c):
    print("B is greatest")
else:
    print("C is greatest")

C is greatest

In [6]:
'''USECASE
cust_credit = 17k
customer segmentation: if my cust_credit>=25k then diamond customer
    15k to <25k , golden
    5k and <15k, silver
    else bronze'''

'USECASE\ncust_credit = 17k\ncustomer segmentation: if my cust_credit>=25k then diamond customer\n    15k to <25k , golden\n    5k and <15k, silver\n    else bronze'

FOR loop - seq of instructions that are continually repeated until a certain condition is reached

In [9]:
#for loop
a=[1,2,3,4,5]
#print(a)
for i in a:
    print(i)

1
2
3
4
5

In [11]:
#printing even values
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [1]:
#printing odd values

In [14]:
#print the nos from 0 to 51 with 5 intervals

In [15]:
#nested for loop
for i in range(0,3): #0,1,2
    for j in range(0,3): #0,1,2
        print(i+j)

0
1
2
1
2
3
2
3
4

In [18]:
#range
ran=range(5) #0 to 4
for i in ran:
    print("value of i: {}".format(i))
    print("value of i1:{}". format(i+1))

value of i: 0
value of i1:1
value of i: 1
value of i1:2
value of i: 2
value of i1:3
value of i: 3
value of i1:4
value of i: 4
value of i1:5

In [22]:
#for loop - dictionary
bd={"PPM":1963,"WTB":1963,"AHDN":1964,"BFS":1964,"TAS":1967,"RS":1987,"FRA":1765}
for t in bd:

Title: PPM, Year: 1963
Title: WTB, Year: 1963
Title: AHDN, Year: 1964
Title: BFS, Year: 1964
Title: TAS, Year: 1967
Title: RS, Year: 1987
Title: FRA, Year: 1765

WHILE LOOP- loop gets executed until the condition is satisfied

In [23]:
k=0
while k<5:#0 to 4
    print(k)
    k=k+1

0
1
2
3
4

TRY EXCEPT error handling

In [1]:
n=15
try:
    if n>5:
        print(nm)
except:
    print("Plz check the code")

Plz check the code

In [2]:
#z=2
try:
    print(z)
except:
    print("something wrong")
else:
    print("Nothing went wrong")

something wrong

In [35]:
#try, except, finally
try:
    print("hai")
except:
    print("something wrong")
finally:
    print("try except is finished")

hai
try except is finished

Inbuilt functions

In [2]:
nm="hello world"
len(nm)

11

In [3]:
print(nm.islower())
print(nm.title())

True
Hello World

In [4]:
print(str.lower(nm))#lower case
print(str.upper(nm))#upper case
print(str.lstrip(nm))#remove white space b4 d wrd
print(str.rstrip(nm))#remove white space after d wrd
print(str.strip(nm))#removes white space on both the sides

hello world
HELLO WORLD
hello world
hello world
hello world

In [41]:
abs(-8765)

8765

In [45]:
#check for boolean output
print(bool(0)) #false
print(bool(16)) #other than zero - true

False
True

Combination of loops

In [48]:
for x in range(1,10):
    print("val of x:",x)
    if(x==4):
        break #wil exit the loop
        #print("i have exited the loop")
    #print("i have exited the loop")
print("i have exited the loop")

val of x: 1
val of x: 2
val of x: 3
val of x: 4
i have exited the loop

In [1]:
#if, continue
for x in range(1,10):
    if(x==4):
        print("there is a match")
        continue #checks for the condition and continues loop for the entire range
    print("val of x:",x)

val of x: 1
val of x: 2
val of x: 3
there is a match
val of x: 5
val of x: 6
val of x: 7
val of x: 8
val of x: 9

In [5]:
#count the nos bet 555 and 1111 which are divisible by 7

Functions
used to utilize code in more than one place in a program

In [3]:
#create a func
def helloworld():
    print("hello team")

In [4]:
#call the func
helloworld()

hello team

In [13]:
#more than 1 arg
def printinfo(name,age):
    print("Name : ",name)
    print("age : ",age)
#call the func
#printinfo("alex",20)
printinfo(age=20,name="Alex")

Name :  Alex
age :  20

In [7]:
#difference bet print and return
def info():
    print(12)
    return 35# holds back the value
def mul():
    return 10*info()
#call the fun
mul()

12

350

In [7]:
#passing arg and assign default
def printinfo(name,age=20):
    print("name : ",name)
    print("age : ",age)
#call the fun
printinfo("Jack")

name :  Jack
age :  20

In [14]:
# func
def add_fun(x,y):
    z=x+y
    print(z)
#call the fun
add_fun(3,3)

6

In [15]:
#update the list
def list_update(x):
    x[3]=20#3rd ind to b updated
#call the fun
lst=[10,11,12,54,76]
list_update(lst)
print(lst)

[10, 11, 12, 20, 76]

In [9]:
def changeme(mylist):
    mylist=[1,2,3,4]
    print("Values inside the function : ",mylist)
    return
#call teh func
mylist=[10,20,30,40]
changeme(mylist)

Values inside the function :  [1, 2, 3, 4]

In [10]:
print("value of mylist outside the func : ",mylist)

value of mylist outside the func :  [10, 20, 30, 40]

In [37]:
#assigning xple values to single argument using *
def fun_arg(*y):
    for i in y:
        print("Vartuple : ",i)
    return
#call the func
fun_arg(100,200,300,"str")

Vartuple :  100
Vartuple :  200
Vartuple :  300
Vartuple :  str

In [38]:
#scope variables
total=0
def sum(arg1,arg2):
    total=arg1+arg2
    print("total inside the function : ",total)
    return total
#call the fun
sum(10,20)

total inside the function :  30

30

In [39]:
print("total val outside the func : ",total)

total val outside the func :  0

In [40]:
#find out sum of middle 3 nos out of 5 given nos
def sum_nos(s1,s2,s3,s4,s5):
    max_score=max(s1,s2,s3,s4,s5) #max val
    min_score=min(s1,s2,s3,s4,s5) #min val
    sums=s1+s2+s3+s4+s5-max_score-min_score
    return (sums)
#call the func
sum_nos(40,20,60,80,176)

180

In [41]:
'''setps to calculate the median
inp=[1,2,3,4,6,7]#6
#count is odd - sort den middle val gives median
#count is even - sort den avg of middle 2 nos gives median
right_of_middle = len(inp)//2 #extracting ind 
left_of_middle = right_of_middle-1 #extracting ind'''

'setps to calculate the median\ninp=[1,2,3,4,6,7]#6\n#count is odd - sort den middle val gives median\n#count is even - sort den avg of middle 2 nos gives median\nright_of_middle = len(inp)//2 #extracting ind \nleft_of_middle = right_of_middle-1 #extracting ind'

In [42]:
def median(inp):
    inp.sort()
    if len(inp) %2 !=0: #odd - pick the mid ele to get d median
        middle_ind=len(inp)//2
        return inp[middle_ind]
    else:
        right_of_middle=len(inp)//2
        left_of_middle = right_of_middle-1
        return (inp[right_of_middle]+inp[left_of_middle])/2

In [43]:
#call the fun
inp=[1,2,3,4,6,7]#even count
median(inp)

3.5

In [44]:
#program to check if a string is palindrome or note ('MOM',"WOW",'DAD','MADAM')
def pal(my_str):
    my_str=my_str.casefold() #converts to lower case and special cases like (ß - german letter n its eqlnt letters r ss)
    #reverse the string
    rev_str=reversed(my_str)
    #check if string = reversed
    if list(my_str)==list(rev_str):
        print("It is palindrome")
    else:
        print("It is not palindrome")
#call the func
pal("WOW")
pal("MaDAm")
pal("ßuss")

It is palindrome
It is palindrome
It is palindrome

LAMBDA

In [69]:
#normal fun
def add(x,y):
    return(x+y)
#call the fun
add(1,3)

4

In [70]:
#using lambda
add=lambda x,y : x+y
add(1,3)

4

In [71]:
#cube fun 
def cube(y):
    return y*y*y
#call the func
print(cube(5))

125

In [74]:
#lambda within func
def myfunc(n):
    return lambda a: a*n
mytripler = myfunc(3)# n=3
print(mytripler(11)) #a=11

33

In [75]:
def myfunc(n):
    return lambda a :a*n
mydoubler = myfunc(2)#n=2
mytripler = myfunc(3)#n=3
print(mydoubler(11)) #a=11
print(mytripler(12))#a=12

22
36

In [76]:
#logical operation
f=lambda x:x>10
print(f(2))
print(f(12))

False
True

In [77]:
a=lambda x:x%2==0
a(10)

True

FILTER

In [78]:
#Filter(function, sequence) - seq(which needs to b filtered)
#retrieve even ele in the list
li=[5,7,22,97,54,62,61,3248]
final_list = list(filter(lambda x : (x%2==0),li))
print(final_list)

[22, 54, 62, 3248]

In [79]:
#filter in list
dic=[{'name':'python','points':10},{'name':'java','points':8}]
print(type(dic))
print(list(filter(lambda x : x['points']==8,dic)))

<class 'list'>
[{'name': 'java', 'points': 8}]

In [ ]:
#arithmetic opns in filter
varlist=[0,10,0,30,1]
out=list(filter(lambda x : x*10 , varlist))
print("values are : ",out)

In [24]:
d9=[4,7,9]

ab=(lambda x,y:x+y)

ab(3,11)

14

In [30]:

q=range(1,1000)

cd=list(filter(lambda x:x%5==0,q))

cd

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 105,
 110,
 115,
 120,
 125,
 130,
 135,
 140,
 145,
 150,
 155,
 160,
 165,
 170,
 175,
 180,
 185,
 190,
 195,
 200,
 205,
 210,
 215,
 220,
 225,
 230,
 235,
 240,
 245,
 250,
 255,
 260,
 265,
 270,
 275,
 280,
 285,
 290,
 295,
 300,
 305,
 310,
 315,
 320,
 325,
 330,
 335,
 340,
 345,
 350,
 355,
 360,
 365,
 370,
 375,
 380,
 385,
 390,
 395,
 400,
 405,
 410,
 415,
 420,
 425,
 430,
 435,
 440,
 445,
 450,
 455,
 460,
 465,
 470,
 475,
 480,
 485,
 490,
 495,
 500,
 505,
 510,
 515,
 520,
 525,
 530,
 535,
 540,
 545,
 550,
 555,
 560,
 565,
 570,
 575,
 580,
 585,
 590,
 595,
 600,
 605,
 610,
 615,
 620,
 625,
 630,
 635,
 640,
 645,
 650,
 655,
 660,
 665,
 670,
 675,
 680,
 685,
 690,
 695,
 700,
 705,
 710,
 715,
 720,
 725,
 730,
 735,
 740,
 745,
 750,
 755,
 760,
 765,
 770,
 775,
 780,
 785,
 790,
 795,
 800,
 805,
 810,
 815,
 820,
 825,
 830,
 835,
 840,
 845,
 850,
 855,
 860,
 865,
 870,
 875,
 880,
 885,
 890,
 895,
 900,
 905,
 910,
 915,
 920,
 925,
 930,
 935,
 940,
 945,
 950,
 955,
 960,
 965,
 970,
 975,
 980,
 985,
 990,
 995]

In [33]:
z=range(1,50)


yq=list((lambda y:y*9,z))

yq

[<function __main__.<lambda>(y)>, range(1, 50)]