In [1]:
tuple3=()
print(tuple3)

()

In [2]:
tuple1=4,
print(tuple1)

(4,)

In [3]:
tuple2=('ashok',5,22.3,False)
print(tuple2)

('ashok', 5, 22.3, False)

In [4]:
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print(tuplex)

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')

In [5]:
print(tuplex[2])

r

In [6]:
print(tuplex[1:5])

(3, 'r', 'e', 's')

In [7]:
print(tuplex[::-1])

('e', 'c', 'r', 'u', 'o', 's', 'e', 'r', 3, 'w')

In [8]:
'r' in tuplex

True

# list to tuple

In [9]:
list1=[2,5,6,79,5]
print(list1)
t1=tuple(list1)
print(t1)

[2, 5, 6, 79, 5]
(2, 5, 6, 79, 5)

In [14]:
tuplex2=4,8,3
print(tuplex2)

n1,n2,n3=tuplex2
print(n1+n2+n3)

(4, 8, 3)
15

# Add item in Python tuple!

In [17]:
tuplex3=(5,6,7,9,2)
print(tuplex3) #cannot add item to tuple since it is immutable

tuplex3=tuplex3+(9,)
print(tuplex3)

(5, 6, 7, 9, 2)
(5, 6, 7, 9, 2, 9)

In [18]:
tuplex3=tuplex3+(205,9,7,6,)
print(tuplex3)

(5, 6, 7, 9, 2, 9, 205, 9, 7, 6)

adding items in a specific index

In [20]:
tuplex3=tuplex3[:3]+(15,20,25)+tuplex3[:3]
print(tuplex3)

(5, 6, 7, 15, 20, 25, 5, 6, 7)

# clone a tuple

In [21]:
from copy import deepcopy

In [22]:
tuple5=('hello',5,[],True)
print(tuple5)

('hello', 5, [], True)

In [24]:
tuple_clone=deepcopy(tuple5)
print(tuple_clone)

('hello', 5, [], True)

In [26]:
tuple_clone[2].append(50)
tuple_clone

('hello', 5, [50, 50], True)

# count

In [28]:
tuple6=(2,6,5,7,9,5,3,2,14,5,6,1,6,54,7,9)
print(tuple6.count(6))

3

# Remove an item from tuple

tuples are immutable, so you can not remove elements

#using merge of tuples with the + operator you can remove an item and it will create a new tuple

In [31]:
tuplex = "w", 3, "d", "r", "e", "s", "l" 
print(tuplex)

('w', 3, 'd', 'r', 'e', 's', 'l')

In [33]:
tuplex7=tuplex[:2]+tuplex[3:]
print(tuplex7)

('w', 3, 'r', 'e', 's', 'l')

converting the tuple to list and remove item

In [35]:
list3=list(tuplex7)
print(list3)

['w', 3, 'r', 'e', 's', 'l']

In [37]:
list3.pop(2)
list3

['w', 3, 's', 'l']

In [38]:
tuplex7=tuple(list3)
print(tuplex7)

('w', 3, 's', 'l')

# Find the index of an item of the tuple

In [39]:
tuplex = tuple("index tuple")
print(tuplex)

('i', 'n', 'd', 'e', 'x', ' ', 't', 'u', 'p', 'l', 'e')

In [42]:
tuplex.index('x')

4

In [44]:
tuplex.index('e',5)

10

In [45]:
tuplex.index('e',1,9)

3

# length of tuple

In [46]:
len(tuplex)

11

In [50]:
tuplex8=5,
print(tuplex8)

(5,)

In [51]:
tuplex9=tuplex8*6
print(tuplex9)

(5, 5, 5, 5, 5, 5)

In [53]:
tupl=(5,6,7)
tup=tupl * 3
tup

(5, 6, 7, 5, 6, 7, 5, 6, 7)

In [54]:
tup1=(1,2,3,4,6,7)
tup2=('ashok','sgdgd','dgjkbg')
tup3=(True,False)

tupp=tup1+tup2+tup3
print(tupp)

(1, 2, 3, 4, 6, 7, 'ashok', 'sgdgd', 'dgjkbg', True, False)

Write a Python program to create a tuple

In [57]:
t1=()
print(t1)

t2=tuple()
print(t2)

()
()

 Write a Python program to create a tuple with different data types

In [59]:
t3=('ashok0',2,50.3,True)
print(t3)

('ashok0', 2, 50.3, True)

Write a Python program to create a tuple with numbers and print one item

In [60]:
t4=(2,3,4,5,6,7,8,9)
t4[5]

7

Create a tuple of one item

In [62]:
t5=5,
print(t5)

(5,)

Write a Python program to unpack a tuple in several variables.

In [63]:
t6=(5,6,7)
n1,n2,n3=t6
print(n1+n2+n3)

18

Write a Python program to convert a tuple to a string.

In [68]:
t7=tuple("w3resources")
print(t7)
print(''.join(t7))

('w', '3', 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e', 's')
w3resources

Write a Python program to get the 4th element and 4th element from last of a tuple.

In [71]:
t8 = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print(t8[3])
print(t8[-4])

e
u

# Write a Python program to convert a list of tuples into a dictionary

In [83]:
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
d={}
for x,y in l:
    d.setdefault(x,[]).append(y)
print(d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

Write a Python program to convert a tuple to a dictionary.

In [73]:
tuplex = ((2, "w"),(3, "r"))
print(dict((x,y) for x,y in tuplex))

{2: 'w', 3: 'r'}

In [74]:
t9=((1,'ashok'),(2,'arun'),(3,'stan'))
print(dict((x,y) for x,y in t9))

{1: 'ashok', 2: 'arun', 3: 'stan'}

In [84]:
t9=((1,'ashok'),(2,'arun'),(3,'stan'),(5,'ashok'))
print(dict((x,y) for x,y in t9))

{1: 'ashok', 2: 'arun', 3: 'stan', 5: 'ashok'}

Write a Python program to unzip a list of tuples into individual lists.

In [77]:
l = [(1,2), (3,4), (8,9)]
print(list((zip(*l))))

[(1, 3, 8), (2, 4, 9)]

Write a Python program to reverse a tuple.

In [81]:
t10=(5,6,7,9,5,2)
t11=reversed(t10)
print(tuple(t11))

(2, 5, 9, 7, 6, 5)

In [82]:
t10[::-1]

(2, 5, 9, 7, 6, 5)

Write a Python program to print a tuple with string formatting

In [85]:
t = (100, 200, 300)
print('This is a tuple {0}'.format(t))

This is a tuple (100, 200, 300)

Write a Python program to replace last value of tuples in a list.

In [86]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

Write a Python program to remove an empty tuple(s) from a list of tuples.

In [88]:
L = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
a=[t for t in L if t]
print(a)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

Write a Python program to sort a tuple by its float element.

In [89]:
price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

Write a Python program to count the elements in a list until an element is a tuple.

In [91]:
num = [10,20,30,(10,20),40]
ctr = 0
for n in num:
    if isinstance(n, tuple):
        break
    ctr += 1
print(ctr)

3